
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@244&family=Lora&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

  margin: 0;
  background-color: white;
  overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: visible; /* Allow vertical overflow */
 }


 
.paperOverlay {
  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-repeat: repeat;
  background-image: url(Bilder/texture.jpeg);
  mix-blend-mode: multiply;
  pointer-events: none;
}





@media (width > 350px) {
  .depth {
    position: sticky;
    mix-blend-mode: difference;
  }
}

.depth p {
  transition: all 0.3s ease; /* Smooth transition for depth changes */
}


.depth {
  color: white;
  font-family: "Inter", serif;
  font-weight: 200;
  font-size: 15pt;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 5000;
  opacity: 1; /* Initially hidden */
  transition: opacity 0.5s ease, transform 0.3s ease; /* Smooth fade-in/out */
}


.title {
  position: absolute;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  text-align: center;
  font-size: 80px;
  width: 100%;
  margin-top: 60px;
  top: 20%;
  
}

.subtitle{
  position: absolute;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 300;
  font-size: 15pt;
  top: 50%;
  width: 100%;
}

@media (max-width:536px) {
  .title {
    font-size: 50pt;
   top: 25%;
  } 
  .subtitle {
    top: 48%;
  }
  
}


@media (min-width: 768px) {
  .title {
      font-size: 110px;
      top: 25%;  /* Move closer to the top */
  }

  .subtitle {
      font-size: 20px;
      text-align: center;
      top: 60%;  /* Move closer to the title */

  }
}

.section{
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-image: radial-gradient(circle, #ffffff, #f3f7ff, #ddf1ff, #c0edff, #9deaff);
 
 }
 .ice11, .ice12 {
  width: 1100px; /* Set a specific width */
  height: auto; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensures the entire image fits within the defined width */
  position: absolute; /* Allow images to be positioned absolutely */
  bottom: 50px;
}
 .ice11{ 
  z-index: 20;
  left: -100px;

 }
.ice12{
  z-index: 19;
  right: 0;
}


@media (min-width: 768px) {
  .ice11, .ice12 {
      width: 1300px; 
      
  }
}

.seabird { 
  position: absolute;
  top: 40px;
  left: 300px;
  width: 50px;
  z-index: 100;

}
@media (min-width: 768px){
  .seabird {
     left: 600px;
     width: 100px;

  }
}

 .ocean { 
   height: 5%;
   width:100%;
   position:absolute;
   bottom:0;
   left:0;
   background: #015871;
   z-index: 22;
 }

 .wave-container {
  position: absolute;
  width: 3000px;
  max-width: 3000px;
  height: 500px; /* Adjust the height of the wave section */
  overflow: hidden;
  bottom: 0;
  z-index: 1000;

}

.wave {
  position: absolute;
  bottom: 0;
 max-width: 4200px;
 height: auto;
  object-fit: cover; /* Ensure the wave images scale properly */
}

.wave1 {
  animation: waveAnimation 14s infinite linear reverse;
  left: 0;
  bottom: 70px;
  width: 200%;
}

.wave2 {
  animation: waveAnimation 3s infinite linear ; /* Opposite direction */
  left: 0;
  bottom: -10px;
  width: 1000px;
}

.wave3 {
  animation: waveAnimation 5s infinite linear reverse;
  left: 0;
  bottom: 10px;

}
.wave4 {
  left: 0;
  width: 30%;
  height: 150px;
  bottom: 0;
}




@media  (min-width: 768px ) {
  .wave-container {
    margin-left: 0;
  }  
  
  .wave {
      max-width: 100%;
    }
  .wave1 {
    bottom: 40px;
    left: -300px;
  }
  .wave2 {
    bottom: -10px;
    left: 400px;
    width: 1500px;
  }  
  .wave4 {
    width: 100%;
    height: 300px;
    bottom: -20px;
    left: -50px;
  }  
}
  



/* Wave Animation */
@keyframes waveAnimation {
  0% {
      transform: translateX(0%);
  }
  50% {
      transform: translateX(-10%); /* Move left by 25% of width */
  }
  100% {
      transform: translateX(0%);
  }
}





.next-section {
  height: 100vh; /* Full viewport height for next section */
  display:flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #015871, #004665, #003557, #002448, #011337);; /* Background color for next section */
  color: white;
}
.next-section p{
font-family: "Inter", serif;
font-weight: 100;
font-size: 12pt;
margin: 0;
}

.h22 {
  position: absolute;
top: 50px;
left: 5%;
width: 400px;

}
.h22 h2{
  font-family: "Inter", serif;
font-weight: 200;
font-size: 48pt;
color:#DBF227;
margin: 0;

}
.h23 {
  position: absolute;
  text-align: right;
  bottom: 0%;
  right: 5%;
  width: 150px;
  
  }
  .h23 h2{
    font-family: "Inter", serif;
  font-weight: 200;
  font-size: 20pt;
  color:#DBF227;

  }

.br1 {
  position: absolute;
  display: flex;
  
  justify-content: center;
  width: 300px;

}



@media  (max-width: 900px ) {

  .h22 h2{
  font-size: 26pt;
  }
    .h22 {
    width: 300px;
    display: flex;
    align-items: center;

  }
  .h23 {
    bottom: 0;
    right: 10%;
    width: 150px;
    }
  }


.plastic2 {
  position: absolute;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@keyframes falling {
  0% {
      transform: translateY(-100%); /* Start above the viewport */
      opacity: 0; /* Invisible at the start */
  }
  10% {
      opacity: 1; /* Become visible */
  }
  100% {
    transform: translateY(calc(40vh )); 
    opacity: 0; 
  }
}
.falling {
  position: absolute;
  width: 100px; 
  height: auto;
  animation: falling 10s linear infinite; 
}


.bottle {
  width: 100px;
  height: auto;
  top: 40px;
  right: 70px;
}

.bottle4 {
  width: 100px;
  height: auto;
  top: 60%;
  right: 30%;
}
.bottle3 {
  width: 100px;
  height: auto;
  top: 50%;
  left: 40%;
}
.bottle5 {
  width: 100px;
  height: auto;
  top: 56%;
  left: 10%;
}
.bottle6 {
  width: 100px;
  height: auto;
  top: 10%;
  right: 76%;
}
.can {
  width: 100px;
  height: auto;
  bottom: 90%;
  right: 65%;
}
.bag1 {
  width: 100px;
  height: auto;
  bottom: 45%;
  right: 23%;

}.bag2 {
  width: 100px;
  height: auto;
  bottom: 87%;
  right: 34%;
}.bag3 {
  width: 100px;
  height: auto;
  bottom: 32%;
  right: 55%;
}




.bottle { animation-delay: 0s; }
.bottle3 { animation-delay: 0.5s; }
.bottle5 { animation-delay: 2s; }
.bottle6 { animation-delay: 3s; }
.can { animation-delay: 1s; }
.bag1 { animation-delay: 2s; }
.bag3 { animation-delay: 0s; }




.bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#stars2 {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  box-shadow: 1117px 1306px #FFF , 1078px 1783px #FFF , 1179px 1085px #FFF , 1145px 920px #FFF , 422px 1233px #FFF , 387px 98px #FFF , 1153px 637px #FFF , 1084px 782px #FFF , 476px 453px #FFF , 926px 1306px #FFF , 60px 1086px #FFF , 753px 1575px #FFF , 272px 1684px #FFF , 1285px 750px #FFF , 1416px 1327px #FFF , 1931px 473px #FFF , 736px 1395px #FFF , 1816px 763px #FFF , 438px 879px #FFF , 665px 1902px #FFF , 1341px 677px #FFF , 1404px 1073px #FFF , 100px 597px #FFF , 357px 1689px #FFF , 1044px 1342px #FFF , 1954px 502px #FFF , 1192px 1308px #FFF , 540px 1239px #FFF , 1360px 552px #FFF , 89px 752px #FFF , 659px 1253px #FFF , 62px 517px #FFF , 1375px 1705px #FFF , 1343px 1511px #FFF , 1659px 1922px #FFF , 1560px 289px #FFF , 1362px 1799px #FFF , 1886px 1480px #FFF , 1718px 1885px #FFF , 824px 738px #FFF , 1060px 1370px #FFF , 1781px 1171px #FFF , 255px 273px #FFF , 1197px 120px #FFF , 213px 7px #FFF , 1226px 1920px #FFF , 1844px 207px #FFF , 1675px 970px #FFF , 1435px 1283px #FFF , 37px 353px #FFF , 59px 417px #FFF , 921px 1602px #FFF , 1549px 1490px #FFF , 638px 1845px #FFF , 1328px 198px #FFF , 1050px 1149px #FFF , 1884px 711px #FFF , 333px 263px #FFF , 342px 1508px #FFF , 1388px 1810px #FFF , 1377px 1558px #FFF , 890px 487px #FFF , 1081px 759px #FFF , 890px 1515px #FFF , 911px 1284px #FFF , 335px 735px #FFF , 1140px 549px #FFF , 1239px 1064px #FFF , 226px 71px #FFF , 1100px 1278px #FFF , 1851px 1805px #FFF , 1370px 1999px #FFF , 1008px 1122px #FFF , 785px 813px #FFF , 1358px 601px #FFF , 1833px 1305px #FFF , 1768px 1304px #FFF , 1303px 532px #FFF , 860px 598px #FFF , 1329px 593px #FFF , 1038px 1088px #FFF , 408px 405px #FFF , 965px 82px #FFF , 1483px 1438px #FFF , 310px 1479px #FFF , 1786px 1500px #FFF , 1866px 852px #FFF , 18px 1757px #FFF , 1473px 1004px #FFF , 1542px 1933px #FFF , 633px 1970px #FFF , 1334px 1713px #FFF , 175px 28px #FFF , 592px 894px #FFF , 121px 1162px #FFF , 1601px 1567px #FFF , 1095px 657px #FFF , 640px 1233px #FFF , 1073px 1255px #FFF , 840px 1087px #FFF , 718px 250px #FFF , 967px 709px #FFF , 731px 239px #FFF , 1623px 593px #FFF , 1058px 1820px #FFF , 516px 1898px #FFF , 666px 12px #FFF , 1997px 1382px #FFF , 112px 1690px #FFF , 687px 1309px #FFF , 63px 539px #FFF , 185px 1897px #FFF , 1055px 1691px #FFF , 435px 1517px #FFF , 1175px 1119px #FFF , 1721px 133px #FFF , 1212px 47px #FFF , 166px 18px #FFF , 1416px 1652px #FFF , 1409px 1745px #FFF , 1357px 1232px #FFF , 1677px 1998px #FFF , 448px 1415px #FFF , 705px 1736px #FFF , 1031px 1466px #FFF , 543px 1651px #FFF , 1592px 1888px #FFF , 1749px 1175px #FFF , 639px 1114px #FFF , 1591px 508px #FFF , 759px 1244px #FFF , 824px 380px #FFF , 942px 955px #FFF , 723px 732px #FFF , 113px 1369px #FFF , 203px 1739px #FFF , 868px 733px #FFF , 713px 971px #FFF , 341px 833px #FFF , 762px 824px #FFF , 1359px 310px #FFF , 1858px 1349px #FFF , 1531px 692px #FFF , 1075px 1512px #FFF , 1677px 142px #FFF , 1912px 1478px #FFF , 1810px 1078px #FFF , 426px 844px #FFF , 1426px 588px #FFF , 1909px 654px #FFF , 1107px 295px #FFF , 1351px 527px #FFF , 1393px 599px #FFF , 1379px 1068px #FFF , 228px 1846px #FFF , 1271px 374px #FFF , 1348px 612px #FFF , 7px 1301px #FFF , 1501px 1782px #FFF , 1795px 423px #FFF , 1475px 1918px #FFF , 1328px 1861px #FFF , 1624px 51px #FFF , 1791px 672px #FFF , 1594px 1467px #FFF , 1655px 1603px #FFF , 919px 850px #FFF , 523px 609px #FFF , 1196px 207px #FFF , 753px 410px #FFF , 686px 1097px #FFF , 1570px 133px #FFF , 1996px 1137px #FFF , 361px 116px #FFF , 1015px 462px #FFF , 76px 1143px #FFF , 491px 1818px #FFF , 1563px 795px #FFF , 982px 1721px #FFF , 831px 1204px #FFF , 1737px 589px #FFF , 861px 1579px #FFF , 1666px 130px #FFF , 698px 1799px #FFF , 726px 1519px #FFF , 109px 1208px #FFF , 1184px 1057px #FFF , 835px 451px #FFF , 896px 594px #FFF , 35px 893px #FFF , 895px 542px #FFF , 706px 225px #FFF , 56px 1040px #FFF , 1954px 108px #FFF , 1439px 1423px #FFF , 26px 1881px #FFF , 802px 1564px #FFF , 273px 708px #FFF , 40px 31px #FFF , 859px 108px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1117px 1306px #FFF , 1078px 1783px #FFF , 1179px 1085px #FFF , 1145px 920px #FFF , 422px 1233px #FFF , 387px 98px #FFF , 1153px 637px #FFF , 1084px 782px #FFF , 476px 453px #FFF , 926px 1306px #FFF , 60px 1086px #FFF , 753px 1575px #FFF , 272px 1684px #FFF , 1285px 750px #FFF , 1416px 1327px #FFF , 1931px 473px #FFF , 736px 1395px #FFF , 1816px 763px #FFF , 438px 879px #FFF , 665px 1902px #FFF , 1341px 677px #FFF , 1404px 1073px #FFF , 100px 597px #FFF , 357px 1689px #FFF , 1044px 1342px #FFF , 1954px 502px #FFF , 1192px 1308px #FFF , 540px 1239px #FFF , 1360px 552px #FFF , 89px 752px #FFF , 659px 1253px #FFF , 62px 517px #FFF , 1375px 1705px #FFF , 1343px 1511px #FFF , 1659px 1922px #FFF , 1560px 289px #FFF , 1362px 1799px #FFF , 1886px 1480px #FFF , 1718px 1885px #FFF , 824px 738px #FFF , 1060px 1370px #FFF , 1781px 1171px #FFF , 255px 273px #FFF , 1197px 120px #FFF , 213px 7px #FFF , 1226px 1920px #FFF , 1844px 207px #FFF , 1675px 970px #FFF , 1435px 1283px #FFF , 37px 353px #FFF , 59px 417px #FFF , 921px 1602px #FFF , 1549px 1490px #FFF , 638px 1845px #FFF , 1328px 198px #FFF , 1050px 1149px #FFF , 1884px 711px #FFF , 333px 263px #FFF , 342px 1508px #FFF , 1388px 1810px #FFF , 1377px 1558px #FFF , 890px 487px #FFF , 1081px 759px #FFF , 890px 1515px #FFF , 911px 1284px #FFF , 335px 735px #FFF , 1140px 549px #FFF , 1239px 1064px #FFF , 226px 71px #FFF , 1100px 1278px #FFF , 1851px 1805px #FFF , 1370px 1999px #FFF , 1008px 1122px #FFF , 785px 813px #FFF , 1358px 601px #FFF , 1833px 1305px #FFF , 1768px 1304px #FFF , 1303px 532px #FFF , 860px 598px #FFF , 1329px 593px #FFF , 1038px 1088px #FFF , 408px 405px #FFF , 965px 82px #FFF , 1483px 1438px #FFF , 310px 1479px #FFF , 1786px 1500px #FFF , 1866px 852px #FFF , 18px 1757px #FFF , 1473px 1004px #FFF , 1542px 1933px #FFF , 633px 1970px #FFF , 1334px 1713px #FFF , 175px 28px #FFF , 592px 894px #FFF , 121px 1162px #FFF , 1601px 1567px #FFF , 1095px 657px #FFF , 640px 1233px #FFF , 1073px 1255px #FFF , 840px 1087px #FFF , 718px 250px #FFF , 967px 709px #FFF , 731px 239px #FFF , 1623px 593px #FFF , 1058px 1820px #FFF , 516px 1898px #FFF , 666px 12px #FFF , 1997px 1382px #FFF , 112px 1690px #FFF , 687px 1309px #FFF , 63px 539px #FFF , 185px 1897px #FFF , 1055px 1691px #FFF , 435px 1517px #FFF , 1175px 1119px #FFF , 1721px 133px #FFF , 1212px 47px #FFF , 166px 18px #FFF , 1416px 1652px #FFF , 1409px 1745px #FFF , 1357px 1232px #FFF , 1677px 1998px #FFF , 448px 1415px #FFF , 705px 1736px #FFF , 1031px 1466px #FFF , 543px 1651px #FFF , 1592px 1888px #FFF , 1749px 1175px #FFF , 639px 1114px #FFF , 1591px 508px #FFF , 759px 1244px #FFF , 824px 380px #FFF , 942px 955px #FFF , 723px 732px #FFF , 113px 1369px #FFF , 203px 1739px #FFF , 868px 733px #FFF , 713px 971px #FFF , 341px 833px #FFF , 762px 824px #FFF , 1359px 310px #FFF , 1858px 1349px #FFF , 1531px 692px #FFF , 1075px 1512px #FFF , 1677px 142px #FFF , 1912px 1478px #FFF , 1810px 1078px #FFF , 426px 844px #FFF , 1426px 588px #FFF , 1909px 654px #FFF , 1107px 295px #FFF , 1351px 527px #FFF , 1393px 599px #FFF , 1379px 1068px #FFF , 228px 1846px #FFF , 1271px 374px #FFF , 1348px 612px #FFF , 7px 1301px #FFF , 1501px 1782px #FFF , 1795px 423px #FFF , 1475px 1918px #FFF , 1328px 1861px #FFF , 1624px 51px #FFF , 1791px 672px #FFF , 1594px 1467px #FFF , 1655px 1603px #FFF , 919px 850px #FFF , 523px 609px #FFF , 1196px 207px #FFF , 753px 410px #FFF , 686px 1097px #FFF , 1570px 133px #FFF , 1996px 1137px #FFF , 361px 116px #FFF , 1015px 462px #FFF , 76px 1143px #FFF , 491px 1818px #FFF , 1563px 795px #FFF , 982px 1721px #FFF , 831px 1204px #FFF , 1737px 589px #FFF , 861px 1579px #FFF , 1666px 130px #FFF , 698px 1799px #FFF , 726px 1519px #FFF , 109px 1208px #FFF , 1184px 1057px #FFF , 835px 451px #FFF , 896px 594px #FFF , 35px 893px #FFF , 895px 542px #FFF , 706px 225px #FFF , 56px 1040px #FFF , 1954px 108px #FFF , 1439px 1423px #FFF , 26px 1881px #FFF , 802px 1564px #FFF , 273px 708px #FFF , 40px 31px #FFF , 859px 108px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


.section3 {
  background-color: #011337;
  height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section3 h2 {
  margin: 0;
  font-family: "inter", serif;
  font-weight: 100;
  font-size: 12pt;
  word-spacing: 1px;
}

.section3 h2 b{
font-weight: 500;
font-size: 25pt;
color: #DBF227;

}

.wrapperS {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height:400px;
  width: 300px;
  top: 15%;
  left: 15%;
  margin-right: 20px;
  
}
.s1, .s2, .s3, .s4 {
  opacity: 0;
  z-index: 1;
    width: 300px;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}




.coral {
  position: absolute;
  width: 200px;
  transform: rotate(-40deg);
  right: -5%;
  bottom: 5%;
  z-index: 11;
  animation: shake 5s infinite alternate ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(-31deg);
  }
  50% {
    transform: rotate(-29deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-31deg);
  }
}
.coral1 {
  position: absolute;
  width: 210px;
  top: 0;
  right: -5%;
  z-index: 11;
  animation: shake1 5s infinite alternate ease-in-out;

}

@keyframes shake1 {
  0% {
    transform: rotate(-60deg);
  }
  25% {
    transform: rotate(-59deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  75% {
    transform: rotate(-59deg);
  }
  100% {
    transform: rotate(-60deg);
  }
}



.wrapper {
  position: absolute;
  top: 10%;
  width: 250px;
  align-items: center;
  right: 15%;
  z-index: 10;
  bottom: 26%;
}
.wrapper img {
  width: 100%;
  margin-top: 15px;
}



@media  (max-width: 768px ) {

  .transicion-container {
    bottom: 0;
  }
  .transicion{
    width: 1000px;
  }

  .coral {
    width: 200px;
    right: -10%;
    bottom: -5%;
  }

  .coral1 {
    width: 150px;
  }

 .wrapperS {
  display: flex;
  margin: 0;
  left: auto;
  top: 7%;
  width: 250px;
 }
  .wrapper {
    flex-direction: row;
    width: 150px;
    top: 80%;
    justify-content: center;
    display: flex;
    right: auto;

  }
  .wrapper img {
    margin-left: 15px;
  }
}

@media  (min-width: 1200px ) {
.wrapperS {
 left: 30%;
}
  .wrapper {
    right: 25%;
  }
}



.section4 {
  position: relative;
  height: 150vh;
  background-color: #4bff00;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.transicion1{
position: absolute;
width: 2000px;
top: -140px;
}


@media  (max-width: 768px ) {
}

.section4 p {

  font-family: "inter", serif;
  font-weight: 200;
  font-size: 13pt;
  word-spacing: 1px;
  color:black;
  text-align:left;
  mark {background: #8904b1!important}
  mark {color: white;}

}





.fish-container {
  position: relative;
  width: 700px; /* Adjust width based on the size of your images */
  height: 300px; /* Adjust height to fit the fish */
  margin: 0 auto; /* Center container horizontally */
  top: 15%;
}

.dead-fish {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1; 
  opacity: 0;

  }


.head {
  position: absolute;
  width: 380px; /* Adjust size for the head */
  top: 5px; /* Align with the top of the dead fish */
  right: 35px; /* Slight overlap for seamless connection */
  z-index: 2; /* Place it above the dead fish */
}

.tail {
  position: absolute;
  width: 600px; /* Adjust size for the tail */
  top: 0; /* Align with the top of the dead fish */
  left: 45px; /* Slight overlap for seamless connection */
  z-index: 2; /* Place it above the dead fish */

}

.wrapperA {
  position: absolute;
  display: flex;
  top: 50%;
  height: 500px;
  width: 500px;
}

.a1 {
  position: absolute;
  left: 20%;
}
.a2 {
  position: absolute;
  left: 10%;
  top: 15%;
}
.a3 {
  position: absolute;
  left: 50%;
  top:25%;
}

.a4 {
  position: absolute;
  left: 30%;
  top:40%;
}


@media (max-width:768px) {

  .fish-container {
    width: 400px;
  }

  .head {
    width: 180px;
    right: 55px;
  }
  .tail {
    width: 300px;
  }

  .section4 h2 {
    font-size: 20pt;
  }
.f1 {
  display: flex ;
  align-items: center;
  width: 100%;
  top: 35%;

}

.f11 {
  width: 100%;
}

.wrapperA {
  top: 40%;
width: 350px;
}
.a2 {
  top: 25%;
}
.a3 {
  top: 34%;
}
.a4 {
  top: 52%;
}
}


.transicion2{
  position: absolute;
  width: 2000px;
  bottom: -5%;
  transform: rotate(180deg);
  transform: scaleY(-1);

  }


.section5 {
  position: relative;
  display: flex;
  justify-content: center;
height: 100vh;
background-color: #D0D1CB;
overflow: hidden;

}

.dinnerTable {
  position: absolute;
  right: 0%;
  width: 1000px;
  bottom: 0;
}

  
.dinner {
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 100px;
  width: 500px;
  height: 300px;
  bottom: 330px;
  z-index: 1000;
}

.burger {
  position: absolute;
  left: 70px;
  bottom: -25px;
  height: 300px;
  width: 250px;
  display: flex;

}

.burger img {
  position: absolute;
  width: 100%;
  height: auto;
}

.top {
top: 0;
}
.middle {
  top: 25px;
}
.bottom {
  top: 75px;
}

.plate {
  position: absolute;
  bottom: 40px;
}

.plate img{
  width: 400px;
}

.section5 p {
  font-family: "inter", serif;
  font-weight:200;
  font-size: 12pt;
  color:rgb(55, 55, 55);
  line-height: 22px;
}

.section5 p b {
  font-size: 17pt;
  color: rgb(158, 19, 19);
  font-weight: 500;
}
.WeEatPlastic {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 10%;
  width: 1000px;
  height: 500px;
}

.p1 {
  width: 200px;
}

.p2{


  width: 200px;

}
.p3{

  width: 200px;

}

.b1 h2 {
  font-family: "inter", serif;
  font-weight:200;
  font-size: 15pt;
  color:rgb(55, 55, 55);
}

.b1 h2 b {
  font-size: 17pt;
  color: rgb(158, 19, 19);
  font-weight: 500;
}

.b1 {
  position: absolute;
  left: 5%;
  bottom: 180px;
  width: 200px;
  height: 200px;
}

@media (max-width: 1026px){
  .WeEatPlastic {
    width: 800px;

  }
}


@media  (max-width: 1200px ) {
  .dinnerTable {
    width: 700px;
  }
  .dinner {
    right: 10%;
    width: 300px;
    height: 100px;
    bottom: 210px;
  }
  .burger {
    left: 70px;
    bottom: 0;
    height: 200px;
    width: 150px;
  }
  .middle {
    top: 17px;
  }
  .bottom {
    top: 48px;
  }
  .plate {
    bottom: 45px;
  }
  .plate img{
    width: 300px;
  }
  }

  @media (max-width:536px) {
.dinner {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 210px;
  left: auto;
  right: auto;
}
.section5 p {
  font-family: "inter", serif;
  font-weight:200;
  font-size: 10pt;
  line-height: 20px;
}

.section5 p b {
  font-size: 13pt;
  font-weight: 500;
}

.WeEatPlastic {
  position: absolute;
  top: 5%;
  height: 200px;
  width: 300px;
flex-direction: column;

}
.p1 , .p2, .p3 {
width: 100%;
height: 140px;
}

.b1 {
  left: -50%;
}
 }

.transicion3 {
  position: absolute;
  width: 2000px;
  bottom: -5%;

}





.section6 {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 150vh;
  background-image: linear-gradient(to bottom, #011337, #02112f, #020e28, #020c20, #000819);;

}
.falling1 {
  position: absolute;
  width: 100px; 
  height: auto;
  animation: falling 10s linear infinite; 
}

@keyframes falling1 {
  0% {
      transform: translateY(0); /* Start above the viewport */
      opacity: 0; /* Invisible at the start */
  }
  10% {
      opacity: 1; /* Become visible */
  }
  100% {
    transform: translateY(calc(40vh )); 
    opacity: 0; 
  }

}

#stars3 {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  box-shadow: 1117px 1306px #FFF , 1078px 1783px #FFF , 1179px 1085px #FFF , 1145px 920px #FFF , 422px 1233px #FFF , 387px 98px #FFF , 1153px 637px #FFF , 1084px 782px #FFF , 476px 453px #FFF , 926px 1306px #FFF , 60px 1086px #FFF , 753px 1575px #FFF , 272px 1684px #FFF , 1285px 750px #FFF , 1416px 1327px #FFF , 1931px 473px #FFF , 736px 1395px #FFF , 1816px 763px #FFF , 438px 879px #FFF , 665px 1902px #FFF , 1341px 677px #FFF , 1404px 1073px #FFF , 100px 597px #FFF , 357px 1689px #FFF , 1044px 1342px #FFF , 1954px 502px #FFF , 1192px 1308px #FFF , 540px 1239px #FFF , 1360px 552px #FFF , 89px 752px #FFF , 659px 1253px #FFF , 62px 517px #FFF , 1375px 1705px #FFF , 1343px 1511px #FFF , 1659px 1922px #FFF , 1560px 289px #FFF , 1362px 1799px #FFF , 1886px 1480px #FFF , 1718px 1885px #FFF , 824px 738px #FFF , 1060px 1370px #FFF , 1781px 1171px #FFF , 255px 273px #FFF , 1197px 120px #FFF , 213px 7px #FFF , 1226px 1920px #FFF , 1844px 207px #FFF , 1675px 970px #FFF , 1435px 1283px #FFF , 37px 353px #FFF , 59px 417px #FFF , 921px 1602px #FFF , 1549px 1490px #FFF , 638px 1845px #FFF , 1328px 198px #FFF , 1050px 1149px #FFF , 1884px 711px #FFF , 333px 263px #FFF , 342px 1508px #FFF , 1388px 1810px #FFF , 1377px 1558px #FFF , 890px 487px #FFF , 1081px 759px #FFF , 890px 1515px #FFF , 911px 1284px #FFF , 335px 735px #FFF , 1140px 549px #FFF , 1239px 1064px #FFF , 226px 71px #FFF , 1100px 1278px #FFF , 1851px 1805px #FFF , 1370px 1999px #FFF , 1008px 1122px #FFF , 785px 813px #FFF , 1358px 601px #FFF , 1833px 1305px #FFF , 1768px 1304px #FFF , 1303px 532px #FFF , 860px 598px #FFF , 1329px 593px #FFF , 1038px 1088px #FFF , 408px 405px #FFF , 965px 82px #FFF , 1483px 1438px #FFF , 310px 1479px #FFF , 1786px 1500px #FFF , 1866px 852px #FFF , 18px 1757px #FFF , 1473px 1004px #FFF , 1542px 1933px #FFF , 633px 1970px #FFF , 1334px 1713px #FFF , 175px 28px #FFF , 592px 894px #FFF , 121px 1162px #FFF , 1601px 1567px #FFF , 1095px 657px #FFF , 640px 1233px #FFF , 1073px 1255px #FFF , 840px 1087px #FFF , 718px 250px #FFF , 967px 709px #FFF , 731px 239px #FFF , 1623px 593px #FFF , 1058px 1820px #FFF , 516px 1898px #FFF , 666px 12px #FFF , 1997px 1382px #FFF , 112px 1690px #FFF , 687px 1309px #FFF , 63px 539px #FFF , 185px 1897px #FFF , 1055px 1691px #FFF , 435px 1517px #FFF , 1175px 1119px #FFF , 1721px 133px #FFF , 1212px 47px #FFF , 166px 18px #FFF , 1416px 1652px #FFF , 1409px 1745px #FFF , 1357px 1232px #FFF , 1677px 1998px #FFF , 448px 1415px #FFF , 705px 1736px #FFF , 1031px 1466px #FFF , 543px 1651px #FFF , 1592px 1888px #FFF , 1749px 1175px #FFF , 639px 1114px #FFF , 1591px 508px #FFF , 759px 1244px #FFF , 824px 380px #FFF , 942px 955px #FFF , 723px 732px #FFF , 113px 1369px #FFF , 203px 1739px #FFF , 868px 733px #FFF , 713px 971px #FFF , 341px 833px #FFF , 762px 824px #FFF , 1359px 310px #FFF , 1858px 1349px #FFF , 1531px 692px #FFF , 1075px 1512px #FFF , 1677px 142px #FFF , 1912px 1478px #FFF , 1810px 1078px #FFF , 426px 844px #FFF , 1426px 588px #FFF , 1909px 654px #FFF , 1107px 295px #FFF , 1351px 527px #FFF , 1393px 599px #FFF , 1379px 1068px #FFF , 228px 1846px #FFF , 1271px 374px #FFF , 1348px 612px #FFF , 7px 1301px #FFF , 1501px 1782px #FFF , 1795px 423px #FFF , 1475px 1918px #FFF , 1328px 1861px #FFF , 1624px 51px #FFF , 1791px 672px #FFF , 1594px 1467px #FFF , 1655px 1603px #FFF , 919px 850px #FFF , 523px 609px #FFF , 1196px 207px #FFF , 753px 410px #FFF , 686px 1097px #FFF , 1570px 133px #FFF , 1996px 1137px #FFF , 361px 116px #FFF , 1015px 462px #FFF , 76px 1143px #FFF , 491px 1818px #FFF , 1563px 795px #FFF , 982px 1721px #FFF , 831px 1204px #FFF , 1737px 589px #FFF , 861px 1579px #FFF , 1666px 130px #FFF , 698px 1799px #FFF , 726px 1519px #FFF , 109px 1208px #FFF , 1184px 1057px #FFF , 835px 451px #FFF , 896px 594px #FFF , 35px 893px #FFF , 895px 542px #FFF , 706px 225px #FFF , 56px 1040px #FFF , 1954px 108px #FFF , 1439px 1423px #FFF , 26px 1881px #FFF , 802px 1564px #FFF , 273px 708px #FFF , 40px 31px #FFF , 859px 108px #FFF;
  animation: animStar1 100s linear infinite;
}


@keyframes animStar1 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-0px);
  }
}

.transicion {
  position: absolute;
  width: 1500px;
  height: auto;
  object-fit: cover;
  bottom: -10%;

} 

.f1 {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  width: 800px;
}

.f11 span {
      display: block; 
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.3s, transform 0.3s;
    color: #DBF227;
    font-family: "inter", serif;
    font-weight:500;
    font-size: 50pt;

}
